{% extends "admin_base.html" %}
{% block body %}
<form class="container w-100 mx-auto mt-3 h-100" action="/admin/edit_post/{{ uuid }}" method="POST">
    <input type="hidden" name='uuid' value="{{ uuid }}"/>
    Title: <input class='w-100' name="title" value="{{ post.title }}"/>
    <br>
    Subtitle: <input class='w-100' name="subtitle" value="{{ post.subtitle }}"/>
    <br>
    Body <textarea class='w-100 h-100' rows=25 style="{diplay:block}" name="body">{{ post.body }}</textarea>
    <br>
    <div class="mt-2 mb-2">
        <input class='btn btn-primary' type="submit" value="Save"/>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</form>
{% endblock %}